/* start component  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
}

ul,
ol {
	list-style-type: none;
}

img {
	display: block;
	width: 100%;
}

.container-main {
    width: 97%;
    margin: auto;
}

.w-100 {
    width: 100%;
}

.row {
    margin: 0 -8px;
}

.col-3 {
    width: calc(100% / 3);
    float: left;
    margin-top: 10px;
}

.col-2 {
    width: calc(100% / 2);
    float: left;
}

.clear {
    clear: both;
}

.mar-div {
    margin: 0 8px;
}

.main-h3 {
    margin-bottom: 25px;
}
/* end component  */

/* start navigation */
.aside {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #fff;
	width: 20%;
	box-shadow: 0 0 5px 1px #999;
}

.aside__header {
    padding: 16px;
}

.aside__img {
    width: 45%;
    margin-bottom: 20px;
	border-radius: 5px;
} 

.aside__heading {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.aside__text {
	text-transform: capitalize;
	font-size: 14px;
	color: #757575;
	margin: 5px 0 10px;
}

.nav-list__links {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    padding: 10px 16px;
    display: block;
}

.nav-list__links--active {
	color: #009688;
}

.nav-list__links:hover {
	background-color: #ccc;
}

.nav-list__icon,
.nav-list__links i {
    margin-right: 10px;
	margin-right: 16px;
}

.social-list {
    padding: 10px 0 0 16px;
}

.social-list__item {
	display: inline-block;
}

.social-list__item:not(:last-child) {
	padding-right: 10px;
}

.social-list__link {
	text-decoration: none;
	color: inherit;
}

.social-list__link:hover {
	opacity: 0.6;
}

.social-list-icon {
	font-size: 20px;
}
/* end navigation */

/* start main */
main {
    width: 80%;
    float: right;
    background-color: #f1f1f1;
}

/* start header */
header {
    padding: 20px 0;
}

header h1 {
    text-transform: capitalize;
    font-size: 36px;
    margin-bottom: 10px;
}

.filter {
    padding: 16px 0;
    margin: 6px 0;
    border-bottom: 5px solid #ccc;
    text-transform: capitalize;
}

.filter span {
    margin-right: 13px;
}

.filter__links {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    background-color: white;
    transition: 0.3s;
}

.filter__links i {
    margin-right: 10px;
}

header .filter__links:hover {
    background-color: #ccc;
}

header .filter__links--active {
    background-color: black;
    color: white;
}
/* end header */

/* start sec imgs */
.imgs {
    padding: 20px 0;
}

.imgs .mar-div {
    background-color: white;
}

.imgs .mar-div img:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.imgs p {
    padding: 10px 12px;
    line-height: 1.2;
}

.imgs .num-links {
    text-align: center;
    padding: 35px 0;
    margin: 10px 0;
}

.imgs .num-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: inline-block;
    padding: 8px 16px;
    transition: 0.5s;
}

.imgs .num-links a.active,
.imgs .num-links a:hover {
    background-color: black;
    color: white;
}
/* end sec imgs */

/* start about */
.about {
    padding: 20px 0;
    margin-bottom: 50px;
}

.about .about__paragraph {
    margin-bottom:60px;
    line-height: 1.5;
}

.about .about__skills {
    margin: 15px 0;
}

.about .gray {
    background-color: #9e9e9e;
    color: white;
}

.about .gray__dark {
    padding: 8px 0;
    text-align: center;
    background-color: #616161;
}

.about  .gray__dark--w-95 {
    width: 95%;
}

.about .gray__dark--w-85 {
    width: 85%;
}

.about .gray__dark--w-80 {
    width: 80%;
}

.about .about__btn-dow {
    margin: 15px 0 60px;
    display: inline-block;
    margin-top: 30px;
    padding: 12px 24px;
    background-color: #616161;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

.about .about__btn-dow i {
    margin-right: 10px;
}

.about .about__btn-dow:hover {
    background-color: #ccc;
    color: black;
}

.about .about__btn-dow + h4 {
    margin-bottom: 20px;
}

.about .row ul {
    list-style: none;
    background-color: white;
    text-align: center;
    opacity: 0.6;
    transition: 0.4s;
}

.about .row ul:hover {
    opacity: 1;
}

.about .row li {
    padding: 25px;
    border-bottom: 1px solid #ddd;
}

.about .row .mar-div__dark {
    background-color: black;
    padding: 35px;
    color: white;
}

.about .row .mar-div__aqua {
    background-color: #009688;
    padding: 35px;
    color: white;
}

.about .mar-div__btn-sign{
    border: none;
    font-size: 16px;
    padding: 12px 24px;
    background-color: #009688;
    transition: 0.5s;
    color: white;
}

.about .mar-div__btn-sign:hover {
    background-color: black;
    color: white;
}
/* end about */

/* start contact */
.contact {
    padding: 25px 0;
    background-color: #9e9e9e;
}

.contact .row-contact {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.contact .col-3 {
    background-color: #616161;
}

.contact .col-3--aqua {
    background-color: #009688;
}

.contact .padd-div {
    padding: 16px 0;
}

.contact .padd-div i {
    font-size: 30px;
    margin-bottom: 20px;
}

/* start form */
.contact form .inp-group {
    margin-top: 16px;
    margin-bottom: 16px;
}
.contact form input {
    width: calc(100% - 18px);
    margin-top: 5px;
    border:1px solid #ccc;
    padding: 8px;
}

.contact form .btn-form1 {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.contact .btn-form1 div {
    padding: 10px 20px;
}

.contact .btn-form1 div i {
    margin-right: 10px;
}

.contact form .btn-form1:hover {
    background-color: #ccc;
    color: black;
}
/* end form */
/* end contact */

/* start footer */
footer {
    padding: 35px 0;
    background-color: #616161;
    color: white;
}

footer h3 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

footer .col-3 p {
    padding: 16px 0;
    line-height: 1.5;
}

footer .block {
    padding: 16px ;
}

footer .block:hover {
    background-color: #ccc;
}

footer .block img {
    width: 50px;
    margin-right: 15px;
}

footer .collection-spa span {
    display: inline-block;
    margin-bottom: 16px;
    padding: 0 8px;
    background-color: #9e9e9e;
    font-size: 12px;
    color: black;
}

footer .collection-spa .active {
    background-color: black;
    color: white;
}

.footer {
    padding: 28px 0;
    background-color: black;
    text-align: center;
    color: white;
}

.footer a {
    color: white;
}
/* end footer */
/* end main */
